/**
 * Colors
 */
$theme-colors: (
  "primary": #e3165a,
  "secondary": #554dff,
  "gray": #9095a5,
  "light": #f6f7fb,
  "dark": #02003a,
);

$body-color: #9095a5;

/*
 * Fonts
 */
$font-size-base: 1rem; // no change (re-specifying this so we can use it below for headings)

$h1-font-size: $font-size-base * 3.55;
$h2-font-size: $font-size-base * 2.65;
$h3-font-size: $font-size-base * 1.85;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-weight-normal: 300;

$headings-font-weight: 600;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-weight-bolder: 600;
// $lead-font-weight: 300;

/**
 * Border Radius
 * Unchanged, but included here so the variables can be used below
 */
 $border-radius:    .25rem;
 $border-radius-lg: .75rem;
 $border-radius-sm: .2rem;
 

/**
 * Buttons
 * We override $btn-border-radius directly and don't modify the more-general $border-radius
 */
$btn-font-weight: 600;
// $input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 1.3875rem;
$btn-border-radius: 1.3875rem;
// $input-btn-padding-y-lg: .5rem;
$input-btn-padding-x-lg: 1.5rem;
$btn-border-radius-lg: 1.5rem;
// $input-btn-padding-y-sm: .25rem;
$input-btn-padding-x-sm: .96875rem;
$btn-border-radius-sm: .96875rem;

/**
 * Navbar
 */
$navbar-nav-link-padding-x: 1rem;

$navbar-dark-color:                 rgba(white, .90); // rgba($white, 0.5);
$navbar-dark-hover-color:           rgba(white, 1); // rgba($white, 0.75);
$navbar-dark-active-color:          white;
$navbar-dark-disabled-color:        rgba(white, .25);
$navbar-dark-toggler-border-color:  rgba(white, 0.9); // rgba($white, 0.1);
$navbar-toggler-border-radius:      $border-radius;

// $dropdown-padding-y: 1rem; // might be needed if we have a larger border radius

@import '~bootstrap/scss/bootstrap.scss';

.card.rounded-lg .card-img-top {
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
}


h1, .h1 { color: black; }
h2, .h2 { color: #1f2938; letter-spacing: -0.055rem; }
h3, .h3 { color: #596a88; }
h4, .h4 { color: #596a88; font-weight: 400; }
h5, .h5 { font-weight: 200; text-transform: uppercase; letter-spacing: 1px; }

h3.thin .h3.thin { font-weight: 500; }

.text-light {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { color: map-get($theme-colors, 'light') }
}
.text-dark {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { color: map-get($theme-colors, 'dark') }
}

.hat { margin-bottom: 0; text-transform: uppercase; font-weight: 200; font-style: italic; letter-spacing: 0.5rem; margin-bottom: 1rem; }

#main-nav .nav-link { font-weight: 600 }

section { padding: 3rem 0 }
section#first-section { padding-top: 8rem }
@media (max-width: 767px) {
  section#first-section { padding-top: 5rem }
}

.text-shadow { text-shadow: 0px 7px 15px rgba(0,0,0,.40); }

.sm-gutters {
  margin-right: -8px;
  margin-left: -8px;
  > .col,
  > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

ul.no-indent, ol.no-indent { padding-inline-start: 0rem; padding-left: 1rem; }
ul.sm-indent, ol.sm-indent { padding-inline-start: 0rem; padding-left: 1.5rem; }

.navbar {
  transition: background-color 500ms;
}

.navbar-dark .navbar-toggler {
  background-color: rgba(255,255,255,0.25)
}

.navbar-dark.opened {
  background-color: rgba(32, 32, 32, 0.95);
  padding-bottom: 1.25rem;
}

.navbar-light #main-nav { padding-bottom: 0 }

#main-nav { padding-bottom: 0; padding-top: 0 }

#nav-wrapper {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.mobile #nav-wrapper {
  flex-wrap: wrap;
  padding-bottom: .75rem;
}

.desktop.navbar-dark #nav-wrapper {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border-bottom: 0.75px solid rgba(255, 255, 255, 0.75);
}

@media (max-width: 575px) {
  .display-1 { font-size: 6rem }
  .display-2 { font-size: 5rem }
  .display-3 { font-size: 4rem }
  .display-4 { font-size: 3rem }
}

.btn.caps { text-transform: uppercase; letter-spacing: 1px }
.btn.btn-lg.caps { letter-spacing: 1.5px }

.nav-tabs { border-bottom: 1px solid #e9ecef }

// @media (min-width: 979px) {
//   .nav .dropdown:hover > .dropdown-menu {
//     display: block;
//   }
// }



// .inner-container {
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-left: auto;
//   margin-right: auto;
// }
// .inner-container-left {
//   padding-left: 0;
//   padding-right: 15px;
//   margin-left: auto;
// }
// .inner-container-right {
//   padding-left: 15px;
//   padding-right: 0;
//   margin-right: auto;
// }
// @media (min-width: 576px) {
//   // max 540
//   .inner-container, .inner-container-sm {
//     max-width: 540px;
//     margin-left: auto;
//     margin-right: auto;
//   }  
//   .inner-container-left, .inner-container-left-sm {
//     max-width: 255px;
//     margin-left: auto;
//     margin-right: 0;
//   }
//   .inner-container-right, .inner-container-right-sm {
//     max-width: 255px;
//     margin-left: 0;
//     margin-right: auto;
//   }
// }
// @media (min-width: 768px) {
//   // max 720
//   .inner-container, .inner-container-sm, .inner-container-md {
//     max-width: 720px;
//     margin-left: auto;
//     margin-right: auto;
//   }  
//   .inner-container-left, .inner-container-left-sm, .inner-container-left-md {
//     max-width: 345px;
//     margin-left: auto;
//     margin-right: 0;
//   }
//   .inner-container-right, .inner-container-right-sm, .inner-container-right-md {
//     max-width: 345px;
//     margin-left: 0;
//     margin-right: auto;
//   }
// }
// @media (min-width: 992px) {
//   // max 960
//   .inner-container, .inner-container-sm, .inner-container-md, .inner-container-lg {
//     max-width: 960px;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   .inner-container-left, .inner-container-left-sm, .inner-container-left-md, .inner-container-left-lg {
//     max-width: 465px;
//     margin-left: auto;
//     margin-right: 0;
//   }
//   .inner-container-right, .inner-container-right-sm, .inner-container-right-md, .inner-container-right-lg {
//     max-width: 465px;
//     margin-left: 0;
//     margin-right: auto;
//   }
// }
// @media (min-width: 1200px) {
//   // max 1140
//   .inner-container, .inner-container-sm, .inner-container-md, .inner-container-lg, .inner-container-xl {
//     max-width: 1140px;
//     margin-left: auto;
//     margin-right: auto;
//   }  
//   .inner-container-left, .inner-container-left-sm, .inner-container-left-md, .inner-container-left-lg, .inner-container-left-xl {
//     max-width: 555px;
//     margin-left: auto;
//     margin-right: 0;
//   }
//   .inner-container-right, .inner-container-right-sm, .inner-container-right-md, .inner-container-right-lg, .inner-container-right-xl {
//     max-width: 555px;
//     margin-left: 0;
//     margin-right: auto;
//   }
// }
