body {font-family:'Merriweather Sans',Verdana,Geneva,sans-serif;background-position:top center;background-color:#ddd;font-weight:300}
#wrapper{background:white;color:#333;box-shadow:0px 6px 12px 0px rgba(0,0,0,0.5);padding-top:12px;padding-bottom:12px}
#mainHeader{font-size:3.5rem}

@media (min-width: 576px){
	#wrapper{padding:24px}
	#logo{margin-bottom:6px}
}
@media (min-width: 768px){
	#wrapper{padding:24px 36px}
}
@media (min-width: 992px){
	#wrapper{padding:36px 48px}
	#logo{margin-bottom:12px}
}
#logo{height:24px}
#mainHeader{font-family:'Dancing Script', cursive;}

.sprite-social-facebook { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: 0 0; width: 20px; height: 20px; }
.sprite-social-twitter { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -20px 0; width: 20px; height: 20px; }
.sprite-social-pinterest { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -40px 0; width: 20px; height: 20px; }
.sprite-social-youtube { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -60px 0; width: 20px; height: 20px; }
.sprite-social-googleplus { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -80px 0; width: 20px; height: 20px; }
.sprite-social-rss { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -100px 0; width: 20px; height: 20px; }

.sprite-social-facebook:hover { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: 0 -20px; width: 20px; height: 20px; }
.sprite-social-twitter:hover { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -20px -20px; width: 20px; height: 20px; }
.sprite-social-pinterest:hover { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -40px -20px; width: 20px; height: 20px; }
.sprite-social-youtube:hover { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -60px -20px; width: 20px; height: 20px; }
.sprite-social-googleplus:hover { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -80px -20px; width: 20px; height: 20px; }
.sprite-social-rss:hover { background: url(/images/social-media-icons-20.png) no-repeat top left; background-position: -100px -20px; width: 20px; height: 20px; }

.sprite-social-32-facebook { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: 0 0; width: 32px; height: 32px; }
.sprite-social-32-twitter { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -32px 0; width: 32px; height: 32px; }
.sprite-social-32-pinterest { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -64px 0; width: 32px; height: 32px; }
.sprite-social-32-youtube { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -96px 0; width: 32px; height: 32px; }
.sprite-social-32-googleplus { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -128px 0; width: 32px; height: 32px; }
.sprite-social-32-rss { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -160px 0; width: 32px; height: 32px; }
.sprite-social-32-instagram { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -192px 0; width: 32px; height: 32px; }
.sprite-social-32-linkedin { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -224px 0; width: 32px; height: 32px; }

.sprite-social-32-facebook:hover { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: 0 -32px; width: 32px; height: 32px; }
.sprite-social-32-twitter:hover { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -32px -32px; width: 32px; height: 32px; }
.sprite-social-32-pinterest:hover { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -64px -32px; width: 32px; height: 32px; }
.sprite-social-32-youtube:hover { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -96px -32px; width: 32px; height: 32px; }
.sprite-social-32-googleplus:hover { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -128px -32px; width: 32px; height: 32px; }
.sprite-social-32-rss:hover { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -100px -160px; width: 32px; height: 32px; }
.sprite-social-32-instagram:hover { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -192px -32px; width: 32px; height: 32px; }
.sprite-social-32-linkedin:hover { background: url(/images/social-media-icons-32.png) no-repeat top left; background-position: -224px -32px; width: 32px; height: 32px; }